@media screen and (max-width:1200px) {
    .container{
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width:992px) {
    .container{
        width: 80%;
        margin: auto;
    }
    nav{
        grid-template-columns: 1fr;
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .container{
        width: 80%;
        margin: auto;
    }
        nav{
        grid-template-columns: 1fr;
        text-align: center;
    }
}
@media screen and (max-width:575px) {
    .container{
        width: 80%;
        margin: auto;
    }
        nav{
        grid-template-columns: 1fr;
        text-align: center;
    }
}